<button
  type="button"
  class="btn btn-success me-3 mt-3"
  data-bs-toggle="modal"
  data-bs-target="#edit"
  data-bs-whatever="@mdo"
>
  Edit
</button>
<div
  class="modal fade"
  id="edit"
  tabindex="-1"
  aria-labelledby="editModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModal">Edit the Patient</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editPatient" (ngSubmit)="setPatient()">
          <div class="mb-3 d-none">
            <label for="id" class="col-form-label">Id</label>
            <input
              type="text"
              formControlName="id"
              class="form-control"
              onkeydown="return /[a-z, ,-]/i.test(event.key)"
              id="id"
            />
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              id="lastName"
              placeholder="lastName"
            />
            <label for="lastName" class="col-form-label">Last Name</label>
            <span
              class="help-block text-danger"
              *ngIf="
                editPatient.get('lastName')?.invalid &&
                editPatient.get('lastName')?.touched
              "
            >
              Complete this field with your last name!
            </span>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              formControlName="fatherInitial"
              style="text-transform: uppercase"
              class="form-control"
              id="father-initial"
              placeholder="fatherInitial"
            />
            <label for="father-initial" class="col-form-label"
              >Father Initial</label
            >
            <span
              class="help-block text-danger"
              *ngIf="
                editPatient.get('fatherInitial')?.invalid &&
                editPatient.get('fatherInitial')?.touched
              "
            >
              Complete this field with your father initial!
            </span>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              id="firstName"
              placeholder="firstName"
            />
            <label for="firstName" class="col-form-label">First Name</label>
            <span
              class="help-block text-danger"
              *ngIf="
                editPatient.get('firstName')?.invalid &&
                editPatient.get('firstName')?.touched
              "
            >
              Complete this field with your first name!
            </span>
          </div>
          <div class="form-floating mb-3">
            <input
              type="date"
              formControlName="birthday"
              class="form-control"
              id="birthday"
              placeholder="birthday"
              [value]="changeBirthday()"
            />
            <label for="birthday" class="col-form-label">Birthday</label>
            <span
              class="help-block text-danger"
              *ngIf="
                editPatient &&
                editPatient.get('birthday')?.invalid &&
                editPatient.get('birthday')?.touched &&
                editPatient.get('birthday')?.hasError('invalidDate')
              "
              >The date is invalid!!</span
            >
          </div>
          <div formGroupName="listPhone">
            <select
              class="form-select mb-3"
              aria-label="Default select example"
              formControlName="name"
            >
              <option value="" selected>- Select -</option>
              <option
                [ngValue]="listPhone"
                *ngFor="let listPhone of listPhones"
              >
                {{ listPhone.name }}
              </option>
            </select>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              formControlName="phoneNumber"
              class="form-control"
              id="phone-number"
              placeholder="phoneNumber"
            />
            <label for="phone-number" class="col-form-label"
              >Phone Number</label
            >
            <span
              class="help-block text-danger"
              *ngIf="
                editPatient.get('phoneNumber')?.invalid &&
                editPatient.get('phoneNumber')?.touched
              "
            >
              The first number should be 0 and the second number should be 2,3
              or 7!!
            </span>
          </div>
          <div formGroupName="addressHome">
            <div class="row">
              <div class="form-floating col-md-4 mb-3">
                <input
                  type="text"
                  formControlName="street"
                  class="form-control"
                  id="street"
                  placeholder="street"
                />
                <label for="street" class="col-form-label"
                  >Address Street</label
                >
                <span
                  class="help-block text-danger"
                  *ngIf="
                    editPatient.get('addressHome.street')?.invalid &&
                    editPatient.get('addressHome.street')?.touched
                  "
                >
                  Complete this field with your street!
                </span>
              </div>
              <div class="form-floating col-md-4 mb-3">
                <input
                  type="number"
                  formControlName="numberStreet"
                  class="form-control"
                  id="numberStreet"
                  placeholder="numberStreet"
                />
                <label for="numberStreet" class="col-form-label"
                  >Number of Street</label
                >
                <span
                  class="help-block text-danger"
                  *ngIf="
                    editPatient.get('addressHome.numberStreet')?.invalid &&
                    editPatient.get('addressHome.numberStreet')?.touched
                  "
                >
                  Complete this field with your number of street!
                </span>
              </div>
              <div class="form-floating col-md-4 mb-3">
                <input
                  type="text"
                  formControlName="building"
                  class="form-control"
                  id="building"
                  placeholder="building"
                />
                <label for="building" class="col-form-label">Building</label>
                <span
                  class="help-block text-danger"
                  *ngIf="
                    editPatient.get('addressHome.building')?.invalid &&
                    editPatient.get('addressHome.building')?.touched
                  "
                >
                  Complete this field with your building!
                </span>
              </div>
            </div>
            <div class="row">
              <div class="form-floating col-md-6 mb-3">
                <input
                  type="number"
                  formControlName="floor"
                  class="form-control"
                  id="floor"
                  placeholder="floor"
                />
                <label for="floor" class="col-form-label">Floor</label>
                <span
                  class="help-block text-danger"
                  *ngIf="
                    editPatient.get('addressHome.floor')?.invalid &&
                    editPatient.get('addressHome.floor')?.touched
                  "
                >
                  Complete this field with your floor!
                </span>
              </div>
              <div class="form-floating col-md-6 mb-3">
                <input
                  type="number"
                  formControlName="apartment"
                  class="form-control"
                  id="apartment"
                  placeholder="apartment"
                />
                <label for="apartment" class="col-form-label">Apartment</label>
                <span
                  class="help-block text-danger"
                  *ngIf="
                    editPatient.get('addressHome.apartment')?.invalid &&
                    editPatient.get('addressHome.apartment')?.touched
                  "
                >
                  Complete this field with your apartment!
                </span>
              </div>
            </div>
            <div class="row">
              <div class="form-floating col-md-6 mb-3">
                <input
                  type="text"
                  formControlName="county"
                  class="form-control"
                  id="county"
                  placeholder="county"
                />
                <label for="county" class="col-form-label">County</label>
                <span
                  class="help-block text-danger"
                  *ngIf="
                    editPatient.get('addressHome.county')?.invalid &&
                    editPatient.get('addressHome.county')?.touched
                  "
                >
                  Complete this field with your county!
                </span>
              </div>
              <div class="form-floating col-md-6 mb-3">
                <input
                  type="text"
                  formControlName="city"
                  class="form-control"
                  id="city"
                  placeholder="city"
                />
                <label for="city" class="col-form-label">City</label>
                <span
                  class="help-block text-danger"
                  *ngIf="
                    editPatient.get('addressHome.city')?.invalid &&
                    editPatient.get('addressHome.city')?.touched
                  "
                >
                  Complete this field with your city!
                </span>
              </div>
            </div>
          </div>
          <div formGroupName="residenceAddress">
            <div class="form-check" formControlName="residenceCheck">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                name="flexCheckDefault"
                [checked]="checkResidence"
                (change)="toggle()"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Residence address is the same like home address
              </label>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    formControlName="residenceStreet"
                    class="form-control"
                    placeholder="residenceStreet"
                    id="residenceStreet"
                  />
                  <label for="residenceStreet" class="col-form-label"
                    >Residence Street</label
                  >
                  <span
                    class="help-block text-danger"
                    *ngIf="
                      editPatient.get('residenceAddress.residenceStreet')
                        ?.invalid &&
                      editPatient.get('residenceAddress.residenceStreet')
                        ?.touched
                    "
                  >
                    Complete this field with your residence street!
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    formControlName="residenceNumberStreet"
                    class="form-control"
                    id="residenceNumberStreet"
                    placeholder="residenceNumberStreet"
                  />
                  <label for="residenceNumberStreet" class="col-form-label"
                    >Residence Number</label
                  >
                  <span
                    class="help-block text-danger"
                    *ngIf="
                      editPatient.get('residenceAddress.residenceNumberStreet')
                        ?.invalid &&
                      editPatient.get('residenceAddress.residenceNumberStreet')
                        ?.touched
                    "
                  >
                    Complete this field with your residence number street!
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    formControlName="residenceBuilding"
                    placeholder="residenceBuilding"
                    class="form-control"
                    id="residenceBuilding"
                  />
                  <label for="residenceBuilding" class="col-form-label"
                    >Residence Building</label
                  >
                  <span
                    class="help-block text-danger"
                    *ngIf="
                      editPatient.get('residenceAddress.residenceBuilding')
                        ?.invalid &&
                      editPatient.get('residenceAddress.residenceBuilding')
                        ?.touched
                    "
                  >
                    Complete this field with your residence building!
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    formControlName="residenceFloor"
                    placeholder="residenceFloor"
                    class="form-control"
                    id="residenceFloor"
                  />
                  <label for="residenceFloor" class="col-form-label"
                    >Residence Floor</label
                  >
                  <span
                    class="help-block text-danger"
                    *ngIf="
                      editPatient.get('residenceAddress.residenceFloor')
                        ?.invalid &&
                      editPatient.get('residenceAddress.residenceFloor')
                        ?.touched
                    "
                  >
                    Complete this field with your residence floor!
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    formControlName="residenceApartment"
                    placeholder="residenceApartment"
                    class="form-control"
                    id="residenceApartment"
                  />
                  <label for="residenceApartment" class="col-form-label"
                    >Residence Apartment</label
                  >
                  <span
                    class="help-block text-danger"
                    *ngIf="
                      editPatient.get('residenceAddress.residenceApartment') &&
                      editPatient.get('residenceAddress.residenceApartment')
                        ?.invalid &&
                      editPatient.get('residenceAddress.residenceApartment')
                        ?.touched
                    "
                  >
                    Complete this field with your residence apartment!
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    formControlName="residenceCounty"
                    class="form-control"
                    id="residenceCounty"
                    placeholder="residenceCounty"
                  />
                  <label for="residenceCounty" class="col-form-label"
                    >Residence County</label
                  >
                  <span
                    class="help-block text-danger"
                    *ngIf="
                      editPatient.get('residenceAddress.residenceCounty')
                        ?.invalid &&
                      editPatient.get('residenceAddress.residenceCounty')
                        ?.touched
                    "
                  >
                    Complete this field with your residence county!
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    formControlName="residenceCity"
                    placeholder="residenceCity"
                    class="form-control"
                    id="residenceCity"
                  />
                  <label for="residenceCity" class="col-form-label"
                    >Residence City</label
                  >
                  <span
                    class="help-block text-danger"
                    *ngIf="
                      editPatient.get('residenceAddress.residenceCity')
                        ?.invalid &&
                      editPatient.get('residenceAddress.residenceCity')?.touched
                    "
                  >
                    Complete this field with your residence city!
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              type="number"
              formControlName="age"
              class="form-control"
              id="age"
              placeholder="age"
              [value]="changeAge()"
            />
            <label for="age" class="col-form-label">Age</label>
            <span
              class="help-block text-danger"
              *ngIf="
                editPatient.get('age') &&
                !editPatient.get('age')?.valid &&
                editPatient.get('age')?.touched
              "
            >
              Please complete this field with your age!!
            </span>
          </div>
          <div class="form-check gender-check">
            <input
              class="form-check-input"
              type="radio"
              id="Female"
              name="gender"
              value="Female"
              formControlName="gender"
              (change)="checkGender($event)"
              [checked]="changeGender()"
            />
            <label for="Female">Feminin</label>
          </div>
          <div class="form-check gender-check">
            <input
              class="form-check-input"
              type="radio"
              id="Male"
              name="gender"
              value="Male"
              formControlName="gender"
              (change)="checkGender($event)"
              [checked]="changeGender()"
            />
            <label for="Male">Masculin</label>
            <span
              class="help-block text-danger"
              *ngIf="
                editPatient.get('gender') &&
                !editPatient.get('gender')?.valid &&
                editPatient.get('gender')?.touched
              "
            >
              Please complete this field with Female or Male!!
            </span>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              formControlName="cnp"
              class="form-control"
              id="cnp"
              placeholder="cnp"
            />
            <label for="cnp" class="col-form-label">CNP</label>
            <span
              class="help-block text-danger"
              *ngIf="
                editPatient.get('cnp')?.invalid &&
                editPatient.get('cnp')?.touched
              "
            >
              Complete this field with your CNP!
            </span>
          </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              formControlName="message"
              id="message-text"
              placeholder="message"
            ></textarea>
            <label for="message-text" class="col-form-label">Message:</label>
            <span
              class="help-block text-danger"
              *ngIf="
                editPatient.get('message')?.invalid &&
                editPatient.get('message')?.touched
              "
            >
              Complete this field with your message!
            </span>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-warning"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              [disabled]="editPatient.invalid"
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
